<template>
  <div class="floating_button">
    <button class="button button1 float" ref="button1" @click="alert">{{ title }}</button>
    <AlertModel></AlertModel>
  </div>
</template>

<script>
import AlertModel from "./AlertModel.vue";

export default {
  name: "FloatingButton",
  props: {
    title: String,
  },
  components: {
    AlertModel,
  },
  methods: {
    alert() {
      // eslint-disable-next-line no-undef
      const myModal = new bootstrap.Modal(document.getElementById("alertModel"));
      myModal?.show();
    },
  },
};
</script>

<style scoped>
.float {
  position: fixed;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}
</style>
