<template>
  <div class="grid_view">
    <div class="container fancy-colors">
      <div class="card">
        <div class="child con1">
          <img
            class="round"
            alt="Vue logo"
            src="../assets/logo.png"
            width="100"
            height="120"
          />
        </div>
        <div class="child con2">
          <h4>
            <b>{{ name }}</b>
          </h4>
          <p>{{ position }}</p>
        </div>
      </div>

      <div class="card">
        <div class="child con1">
          <img
            class="round"
            alt="Vue logo"
            src="../assets/logo.png"
            width="100"
            height="120"
          />
        </div>
        <div class="child con2">
          <h4>
            <b>Nitesh Chouhan</b>
          </h4>
          <p>{{ position }}</p>
        </div>
      </div>

      <div class="card">
        <div class="child con1">
          <img
            class="round"
            alt="Vue logo"
            src="../assets/logo.png"
            width="100"
            height="120"
          />
        </div>
        <div class="child con2">
          <h4>
            <b>Piyush Soni</b>
          </h4>
          <p>{{ position }}</p>
        </div>
      </div>

      <div class="card">
        <div class="child con1">
          <img
            class="round"
            alt="Vue logo"
            src="../assets/logo.png"
            width="100"
            height="120"
          />
        </div>
        <div class="child con2">
          <h4>
            <b>Nikhil Singh</b>
          </h4>
          <p>{{ position }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GridView",
  props: {
    name: String,
    position: String,
  },
};
</script>

<style scoped>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  border: 2px solid #73ad21;
  text-align: start;
  margin: 1.5%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.child {
  display: inline-block;
  vertical-align: top;
}

.con1 {
  width: 30%;
  border-radius: 10px;
  margin: 10px;
}

.con2 {
  width: 55%;
  padding: 6px;
  padding-top: 3%;
  text-align: start;
  line-height: 0.2;
}

.round {
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  shape-outside: circle();
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.fancy-colors {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
  resize: horizontal;
  overflow: auto;
  > * {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  }
}
</style>
