<template>
  <GridView name="Kunal Sharma" position="Software Engineer" />
  <FloatingButton title="Add New Users" />
</template>

<script>
import GridView from "./GridView.vue";
import FloatingButton from "./flotingButton.vue";

export default {
  name: "HomeView",
  components: {
    GridView,
    FloatingButton,
  },
};
</script>
