<template>
  <!-- <NoDataFound msg="No Users Found " /> -->
  <HomeViewVue></HomeViewVue>
</template>

<script>
// import HelloWorld from "./components/HelloWorld.vue";
import NoDataFound from "./components/NoDataFound.vue";
import HomeViewVue from "./components/HomeView.vue";

export default {
  name: "App",
  components: {
    // HelloWorld,
    // eslint-disable-next-line vue/no-unused-components
    NoDataFound,
    HomeViewVue,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
